<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SharpBits.WinClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpBits.WinClient.Properties.Settings>
            <setting name="DownloadDir0" serializeAs="String">
                <value/>
            </setting>
            <setting name="UploadDir0" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserNames" serializeAs="String">
                <value/>
            </setting>
            <setting name="MinimizeWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgressDoneColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ProgressLeftColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ProgressCompletedColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="SelectedActiveColor" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
            <setting name="SelectedInactiveColor" serializeAs="String">
                <value>GradientInactiveCaption</value>
            </setting>
            <setting name="ShowAllJobs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalPaths" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemotePaths" serializeAs="String">
                <value/>
            </setting>
            <setting name="EnableIEExtension" serializeAs="String">
                <value>True</value>
            </setting>
        </SharpBits.WinClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
